@tailwind base;
@tailwind components;
@tailwind utilities;

.background_image{
    height: 200px;
    object-fit: cover;
}

.bg-transparent{
    filter: brightness(0.5)!important;
    opacity: 0.9 !important;
}

.info-card-section{
    height: 230px!important;
}
.game-name{
    text-transform: uppercase!important;
    letter-spacing: 1px!important;
    margin-bottom: 10px;
}

.modal-main-img{
    object-fit: cover;
}